@inherits LayoutComponentBase

<PageTitle>Blazor Server Testing</PageTitle>

<div class="topbar">
    <div class="topcorner">
        ~
    </div>

    <div class="timeInfo">
        Time Info Goes Here
    </div>
</div>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
