@inject IConfiguration config;

<div class="characterInfoBox">
    <EditForm Model="@c2" OnValidSubmit="@SaveCharacter">
        <InputText @bind-Value="c.Name"/>
        <InputText @bind-Value="c.Title" />
        <InputNumber @bind-Value="c.Level" />
        <InputText @bind-Value="c.CharacterClass" />

        <input type="submit" value="Save"/>
    </EditForm>
</div>

@code {
    private static string connectionString = "";

    [Parameter]
    public CharacterModel c { get; set; }
    public CharacterModel c2 { get; set; }

    protected override void OnInitialized()
    {
        c2 = new CharacterModel();
    }

    private void SaveCharacter()
    {
        connectionString = config.GetConnectionString("Default").ToString();
        string query = "UPDATE npcs SET title='" + c.Title + "' WHERE name='" + c.Name + "'";
        DBConnection.UpdateDB(connectionString, query);
    }
}
 