@inject IConfiguration config;

<ul>
    @foreach (var character in characters)
    {
        <p>@character.Name, @character.Title<br />
        Level @character.Level @character.CharacterClass</p>
    }
</ul>

@code {
    private static string connectionString = "";
    private static string query = "SELECT * FROM npcs";
    List<CharacterModel> characters;

    protected override void OnInitialized()
    {
        connectionString = config.GetConnectionString("Default").ToString();
        characters = DBConnection.GetCharactersFromDB(connectionString, query);
    }
}
