@page "/characters"

<PageTitle>Characters</PageTitle>

<h1>Characters</h1>

<div>
    <div class="columnA">
        <CharacterList></CharacterList>
    </div>
    <div class="columnB">
        <p>Focused Character</p>
    </div>
    <div class="columnB">
        <p>Previous Character</p>
    </div>
</div>
