@page "/combat"
@inject IConfiguration config;

<PageTitle>Combat</PageTitle>

<h1>Combat</h1>

@*<div class="row">*@
<div>
    <div class="columnA">
        <CharacterList></CharacterList>
    </div>
    <div class="columnB">
        <p>Group A</p>
    </div>
    <div class="columnB">
        <p>Group B</p>
    </div>
</div>

@code {
    
}
